<app-header></app-header>
<!-- <app-landing-img></app-landing-img> -->
<app-main></app-main>
<div class="container">
  
  <div class="trans-header">
    <p class="trans-text">I have a Request</p>
    <p class="trans-text">I have a Question</p>
    <p class="trans-text">I have an Issue</p>
    <p class="trans-text">Contact Us</p>
  </div>
  <img src="../assets/background.jpg" id="main-img">
</div>

<!-- <div class="card">
  <div *ngFor="let card of cards" class="card">
    <h4>{{ card.title }}</h4>
  </div>
</div> -->




<router-outlet></router-outlet>